<%= stylesheet_link_tag "form", "data-turbo-track": "reload" %>


<%= form_with(url: sign_in_path, class: 'form-signin') do |form| %>
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal" style="color: white">ConnectHub</h1>
    <p>Welcome Back</p>
    
  </div>

  <div class="form-label-group">
    <%= form.text_field :username_or_email, placeholder: "Username or Email", class: "form-control" %>
  </div>

  <div class="form-label-group">
    <%= form.password_field :password, placeholder: "Password", class: "form-control", id: "input-password" %>
  </div>

  <%= form.submit "Log In",  class: "btn btn-lg btn-block btn-warning mt-2 mb-2" %>

  <p class="text-muted" style="color: white">Don't have an account? <%= link_to "Sign Up", sign_up_path, class: "link-light" %></p>

<% end %>
