<%= stylesheet_link_tag "form", "data-turbo-track": "reload" %>
<%= form_with(url: sign_in_path, class: 'form-signin shadow-lg') do |form| %>
  <%= render 'shared/flash' %>
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 fw-bold">ConnectHub</h1>
    <p>Welcome Back</p>
  </div>
  <div class="form-label-group mb-5">
    <label for="validationDefaultUsername" class="mb-2">Email or Username</label>
    <%= form.text_field :username_or_email, placeholder: "Your email address or username", class: "form-control", id: "validationDefaultUsername", aria: { describedby: "inputGroupPrepend2" }, required: true %>
  </div>
  <div class="form-label-group mb-5">
    <label for="validationDefaultPassword" class="mb-2" >Password</label>
    <%= form.password_field :password, placeholder: "Your password", class: "form-control mb-2", id: "input-password",  id: "validationDefaultPassword", aria: { describedby: "inputGroupPrepend2" }, required: true %>
    <p><%= link_to "Forgot Password?", new_password_reset_path, class: "link-light" %></p>
  </div>
  <div class="d-grid">
    <%= form.submit "Log In",  class: "btn btn-danger mt-3 mb-2 fw-semibold" %>
  </div>
  <p class="text-muted mb-4" style="color: white">Don't have an account? <%= link_to "Sign Up", sign_up_path, class: "link-light" %></p>
<% end %>
