<%= stylesheet_link_tag "form", "data-turbo-track": "reload" %>




<%= form_with model: @user, url: password_reset_path(params[:id]), class: "form-find-email" do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
    <% form.object.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
    </div>
  <% end %>

  
  
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 fw-bold">Reset Password</h1>
  </div>

  <div class="form-label-group mb-5">
    <label for="regPassword" class="mb-2">Password</label>
    <%= form.password_field :password, placeholder: "Password", class: "form-control border", id: "regPassword", required: true %>
  </div>

  <div class="form-label-group mb-5">
    <label for="regPasswordConf" class="mb-2">Confirm Password</label>
    <%= form.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control", id: "regPasswordConf", required: true %>
  </div>

  <div class="mb-3">
    <%= form.submit "Update Password",  class: "btn btn-danger" %>
  </div>
<% end %>


