<%= stylesheet_link_tag "form", "data-turbo-track": "reload" %>
<%= turbo_frame_tag "find_email" do %>
  <%= form_with(url: password_resets_path, class: 'form-find-email shadow-lg') do |form| %>
    <%= render 'shared/flash' %>
    <div class="text-start mb-4">
      <h1 class="h3 mb-3 fw-bold">Find your ConnectHub account</h1>
      <p class="text-muted">Enter the email associated with your account to change your password.</p>
    </div>
    <div class="form-label-group mb-5">
      <label for="validationDefaultEmail" class="mb-2">Email address</label>
      <%= form.text_field :email, placeholder: "Your email address", class: "form-control", id: "validationDefaultEmail", required: true %>
    </div>
    <div class="d-grid">
      <%= form.submit "Next",  class: "btn btn-danger mt-3 mb-2 fw-semibold" %>
    </div>
  <% end %>
<% end %>