<%= stylesheet_link_tag "profile", "data-turbo-track": "reload" %>
<h1>Notifications</h1>
<ul class="list-group">
  <% @notifications.each do |notification| %>
    <% unless notification.event.record_type == "FriendRequest" && notification.record.status != "pending" %>
      <li class="list-group-item d-flex gap-2 align-items-center link-light">
        <% if notification.event.record_type == "Comment" %>
          <a href=<%= "#{notification.url}" %><%= "#comment_#{notification.record.id}" if notification.event.type=="Comment"%> class="d-flex gap-2 align-items-center link-light">
            <% if notification.record.user.avatar.present? %>
              <%= image_tag(notification.record.user.avatar, class: "rounded-circle", size: "45x45") %>
            <% else %>
              <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
              </svg>
            <% end %>
            <%= notification.message %><span class="text-muted"> · <%= "#{time_until_next_unit(notification)}"%></span>
          </a>
        <% elsif notification.event.record_type == "FriendRequest"  %>
          <% if notification.record.sender.avatar.present? %>
            <%= image_tag(notification.record.sender.avatar, class: "rounded-circle", size: "45x45") %>
          <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
          <% end %>
          <%= link_to notification.message, notification.url, class: "link-light" %>
          <%= button_to "Accept", accept_friend_request_user_path(id: notification.recipient.id, request_id: notification.record.id), method: :post, class: "btn btn-success btn-sm m-auto" %>
          <%= button_to "Reject", reject_friend_request_user_path(id: notification.recipient.id, request_id: notification.record.id), method: :post, class: "btn btn-danger btn-sm" %>
          <span class="text-muted"> · <%= "#{time_until_next_unit(notification)}"%></span>
        <% elsif notification.event.record_type == "Friendship" %>
          <a href=<%="#{notification.url}"%> class="link-light d-flex gap-2 align-items-center">
            <% if current_user == notification.record.user %>
              <% if notification.record.friend.avatar.present? %>
                <%= image_tag(notification.record.friend.avatar, class: "rounded-circle", size: "45x45") %>
              <% else %>
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
              <% end %>
            <% else %>
              <% if notification.record.user.avatar.present? %>
                <%= image_tag(notification.record.user.avatar, class: "rounded-circle", size: "45x45") %>
              <% else %>
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
              <% end %>
            <% end %>
            <%= notification.message %><span class="text-muted">· <%= "#{time_until_next_unit(notification)}"%></span>
          </a>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>