<h3>@<%= @user.username %></h3>

<a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><%= pluralize(@user.friends.count, "friend") %></a>

<%= render 'shared/friends_modal' %>


<% if Current.user != @user && !Current.user.friends.include?(@user) %>
  <% if Current.user.sent_friend_requests.find_by(receiver_id: @user.id).nil? %>
    <%= button_to "Send Friend Request", send_friend_request_user_path(@user), method: :post, class: "btn btn-primary" %>
  <% else %>
    <%= button_to "Cancel Friend Request", cancel_friend_request_user_path(@user, request_id: Current.user.sent_friend_requests.find_by(receiver_id: @user.id).id), method: :delete, data: { confirm: 'Are you sure you want to cancel this friend request?' } %>
  <% end %>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Posts
  </button>

  <%= render 'shared/post_modal' %>


<% elsif Current.user == @user %>
  <h3>Pending Friend Requests</h3>
  <% @user.received_friend_requests.pending.each do |request| %>
    <%= request.sender.username %>
    <%= button_to "Accept", accept_friend_request_user_path(@user, request_id: request.id), method: :post %>
    <%= button_to "Reject", reject_friend_request_user_path(@user, request_id: request.id), method: :post %>
  <% end %>
  <%= button_to "Posts", user_posts_path(user_id: @user.id), method: :get, class: "btn btn-secondary" %>
<% else %>
   <%= button_to "Posts", user_posts_path(user_id: @user.id), method: :get, class: "btn btn-secondary" %>
<% end %>