<%= stylesheet_link_tag "profile", "data-turbo-track": "reload" %>

<div class="layout">
  <div class="md-5 mb-4">
    <div class="row">
      <div class="col-auto me-auto align-self-center">
        <h3 style="color: white">@<%= @user.username %></h3>
      </div>
      
      <div class="col-auto">
        <% if @user.avatar.attached? %>
          <%= image_tag(@user.avatar, class: "rounded-circle ", size: "90x90") %>
        <% else %>
          <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
</svg>
        <% end %>
      </div>
    </div>
    <p><%= @bio %></p>



    <% if current_user != @user && !user_friends(current_user).include?(@user) %>
      <p><%= pluralize(@user.friends.count, "friend") %></p>
      <div class="d-grid mt-4">
        <% if current_user.sent_friend_requests.pending.find_by(receiver_id: @user.id).nil? %>
          <%= button_to "Send Friend Request", send_friend_request_user_path(@user), method: :post, type: "button", class: "btn btn-danger", style: "width: 100%;" %>
        <% else %>
          <%= button_to "Cancel Friend Request", cancel_friend_request_user_path(@user, request_id: current_user.sent_friend_requests.find_by(receiver_id: @user.id)), method: :delete, data: { confirm: 'Are you sure you want to cancel this friend request?' }, class: "btn btn-outline-danger", style: "width: 100%;" %>
        <% end %>
      </div>
    <% elsif current_user != @user %>

      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="link-light"><%= pluralize(user_friends(@user).count, "friend") %></a>

      <%= render 'shared/friends_modal' %>

      <div class="d-grid mt-4">
        <%= button_to "Remove Friend", remove_friend_user_path(@user), method: :delete, data: { confirm: "Are you sure you want to remove this friend?"}, class: "btn btn-danger", style: "width: 100%;" %>
      </div>

    <% else %>
      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="link-light"><%= pluralize(user_friends(current_user).count, "friend") %></a>

      <%= render 'shared/friends_modal' %>

      <div class="d-grid mt-4 mb-4">
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#editProfile">Edit Profile</button>
      </div>
      <div class="modal fade" id="editProfile"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="editProfileLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <%= form_with(model: @user, url: user_path(@user)) do |form| %>
              <div class="modal-body">
            
                <%= render 'shared/flash' %>
                <div class="row mb-3">
                  <div class="col-auto me-auto">
                    <%= form.label :bio, class: "form-label" %>
                    <%= form.text_field :bio, class: "form-control" %>
                  </div>

                  <div class="col-auto">
                  
                    <% if @user.avatar.attached? %>
                      <div class="dropdown">
                        <a type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <%= image_tag(@user.avatar, class: "rounded-circle ", size: "50x50") %>
                        </a>
                        <%= form.file_field :avatar, accept: 'image/*', style: "display: none;" %><br>
                        <ul class="dropdown-menu">
                          <li><%= form.label :avatar, "Upload picture", class: "dropdown-item" %></li>
                          <li><%= link_to "Remove current picture", remove_profile_pic_user_path(@user), class: "dropdown-item link-danger", remote: true %></li>
                        </ul>
                      </div>
                    <% else %>
                      <a type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                      </a>
                      <%= form.file_field :avatar, accept: "image/*", style: "display: none;" %><br>
                        <ul class="dropdown-menu">
                          <li><%= form.label :avatar, "Upload picture", class: "dropdown-item" %></li>
                        </ul>
                    <% end %>
                    
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <%= form.submit "Done",  class: "btn btn-danger col", data: { bs: { dismiss: "modal" } }  %> 
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="md-5 mb-4">
    <h3>Posts</h3>
    <% if @user == current_user || user_friends(current_user).include?(@user) %>
      <% if !@posts.empty? %>
        <ul class="list-group">
          <% @posts.reverse.each do |post| %>
            <a href=<%= "posts/#{post.id}" %>>
              <li class="list-group-item">
                <p>@<%= @user.username %></p>
                <h5><%=post.title%></h4>
                <p><%=post.body%></p>
                <time class="text-muted"><%=post.updated_at.strftime("%d %b %Y")%></time>  
              </li>
            </a>
          <% end %>
          <% if @user == current_user %>
            <div class="d-grid mt-3">
            <%= button_to "Post", new_user_post_path(@user), class: "btn btn-danger col-12", method: :get %>
          </div>
          <% end %>
        </ul>
      <% else %>
        <p>No Posts Yet</p>
        <% if @user == current_user %>
          <div class="d-grid">
            <%= button_to "Make your first Post", new_user_post_path(@user), class: "btn btn-danger col-12", method: :get %>
          </div>
        <% end%>
      <% end %>
    <% else %>
      <p>Only friends can see this account's posts.</p>
    <% end %>
  </div>
</div>