<%= stylesheet_link_tag "profile", "data-turbo-track": "reload" %>

<div class="layout">
  <div class="p-3 md-5 mb-4 bg-body-tertiary">
    <h3 style="color: white">@<%= @user.username %></h3>

    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="link-light"><%= pluralize(@user.friends.count, "friend") %></a>

    <%= render 'shared/friends_modal' %>


    <% if Current.user != @user && !Current.user.friends.include?(@user) %>
      <div class="d-grid mt-4">
        <% if Current.user.sent_friend_requests.find_by(receiver_id: @user.id).nil? %>
          <%= button_to "Send Friend Request", send_friend_request_user_path(@user), method: :post, class: "btn btn-danger" %>
        <% else %>
          <%= button_to "Cancel Friend Request", cancel_friend_request_user_path(@user, request_id: Current.user.sent_friend_requests.find_by(receiver_id: @user.id).id), method: :delete, data: { confirm: 'Are you sure you want to cancel this friend request?' }, class: "btn btn-outline-danger" %>
        <% end %>
      </div>
    <% elsif Current.user == @user %>
      <div class="d-grid mt-4">
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Edit Profile</button>
      </div>
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-body">
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="p-3 md-5 mb-4 bg-body-tertiary">
    <h3>Posts</h3>
    <ul class="list-group">
    <% @posts.reverse.each do |post| %>
      <a href=<%= "posts/#{post.id}" %>>
        <li class="list-group-item">
          <p>@<%= @user.username %></p>
          <h5><%=post.title%></h4>
          <p><%=post.body%></p>
          <time class="text-muted"><%=post.updated_at.strftime("%d %b %Y")%></time>  
        </li>
      </a>
    <% end %>
  </ul>
  </div>
</div>