<%= stylesheet_link_tag "inbox", "data-turbo-track": "reload" %>

<% chats.each do |chat| %>
  <a href= "<%= user_chat_path(user, chat) %>" class="p-3 list-group-item list-group-item-action border-bottom link-light">
    <% unless chat.messages.nil? || chat.messages.empty? %>
      <div class="d-flex gap-2 justify-content-sm-center justify-content-lg-start">
        <% if user == chat.user && chat.user2.avatar.present? %>
        
          <%= image_tag(User.find(chat.user2.id).avatar, class: "rounded-circle ", size: "45x45")%>
          <div class="d-block">
            <span class="d-block d-sm-none d-lg-block align-self-start">@<%= chat.user2.username %></span>

            <% if chat.messages.last.user == user || message_notifications(user, chat).last.read?  %>
              <span class="d-sm-none d-lg-block text-muted"><%= "#{chat.messages.last.content} · #{time_until_next_unit(chat.messages.last)}" %></span>
            <% elsif message_notifications(user, chat).last.unread? %>
              <span class="d-sm-none d-lg-block"><%= "#{chat.messages.last.content}" %> <span class="text-muted">· <%= "#{time_until_next_unit(chat.messages.last)}" %></span></span>
            <% end %>
          </div>
      
        <% elsif user == chat.user2 && chat.user.avatar.present? %>
        
          <%= image_tag(chat.user.avatar, class: "rounded-circle ", size: "45x45") %>
          <div class="d-block">
            <span class="d-block d-sm-none d-lg-block align-self-start">@<%= chat.user.username %></span>
            <% if chat.messages.last.user == user || message_notifications(user, chat).last.read?  %>
              <span class="d-sm-none d-lg-block text-muted"><%= "#{chat.messages.last.content} · #{time_until_next_unit(chat.messages.last)}" %></span>
            <% elsif message_notifications(user, chat).last.unread? %>
              <span class="d-sm-none d-lg-block"><%= "#{chat.messages.last.content}" %> <span class="text-muted">· <%= "#{time_until_next_unit(chat.messages.last)}" %></span></span>
            <% end %>
          </div>
        <% elsif user == chat.user %>
      
            <span class="material-icons-outlined" style="font-size: 45px;">
              account_circle
            </span>
            <div class="d-block">
              <span class="d-block d-sm-none d-lg-block align-self-start">@<%= chat.user2.username %></span>

              <% if chat.messages.last.user == user || message_notifications(user, chat).last.read?  %>
                <span class="d-sm-none d-lg-block text-muted"><%= "#{chat.messages.last.content} · #{time_until_next_unit(chat.messages.last)}" %></span>
              <% elsif message_notifications(user, chat).last.unread? %>
                <span class="d-sm-none d-lg-block"><%= "#{chat.messages.last.content}" %> <span class="text-muted">· <%= "#{time_until_next_unit(chat.messages.last)}" %></span></span>
              <% end %>
            </div>
          
        <% else %>
          <span class="material-icons-outlined" style="font-size: 45px;">
              account_circle
            </span>
          <div class="d-block">
            <span class="d-block d-sm-none d-lg-block align-self-start">@<%= chat.user.username %></span>

            <% if chat.messages.last.user == user || message_notifications(user, chat).last.read?  %>
              <span class="d-sm-none d-lg-block text-muted"><%= "#{chat.messages.last.content} · #{time_until_next_unit(chat.messages.last)}" %></span>
            <% elsif message_notifications(user, chat).last.unread? %>
              <span class="d-sm-none d-lg-block"><%= "#{chat.messages.last.content}" %> <span class="text-muted">· <%= "#{time_until_next_unit(chat.messages.last)}" %></span></span>
            <% end %>
          </div>
        <% end %>
      </div>

    <% end %>
  </a>
<% end %>