<%= stylesheet_link_tag "inbox", "data-turbo-track": "reload" %>


  <div class="row border-bottom p-3">
    <div class="d-flex gap-5 justify-content-center align-items-end">
      <h6 class="d-sm-none d-md-block">Messages</h6>
      
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#messageModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
        </svg>
      </button>
    </div>
  </div>    

  <div class="row scrollarea message_list">
    <% unless @chats.nil? || @chats.empty?  %>
      <div id="chat_users">
        <% @chats.each do |chat| %>
          <a href= "<%= user_chat_path(current_user, chat) %>" class="p-3 list-group-item list-group-item-action border-bottom link-light">
            <% unless chat.messages.nil? || chat.messages.empty? %>
              <div class="d-flex gap-2 justify-content-sm-center">
                <% if current_user == chat.user && chat.user2.avatar.present? %>
                
                  <%= image_tag(User.find(chat.user2.id).avatar, class: "rounded-circle ", size: "45x45")%>
                  <div class="d-block">
                    <span class="d-block d-sm-none d-lg-block align-self-start">@<%= chat.user2.username %></span>

                    <% if chat.messages.last.user == current_user || message_notifications(current_user, chat).last.read?  %>
                      <span class="d-sm-none d-lg-block text-muted"><%= "#{chat.messages.last.content} · #{time_until_next_unit(chat.messages.last)}" %></span>
                    <% elsif message_notifications(current_user, chat).last.unread? %>
                      <span class="d-sm-none d-lg-block"><%= "#{chat.messages.last.content}" %> <span class="text-muted">· <%= "#{time_until_next_unit(chat.messages.last)}" %></span></span>
                    <% end %>
                  </div>
              
                <% elsif current_user == chat.user2 && chat.user.avatar.present? %>
                
                  <%= image_tag(chat.user.avatar, class: "rounded-circle ", size: "45x45") %>
                  <div class="d-block">
                    <span class="d-block d-sm-none d-lg-block align-self-start">@<%= chat.user.username %></span>
                    <% if chat.messages.last.user == current_user || message_notifications(current_user, chat).last.read?  %>
                      <span class="d-sm-none d-lg-block text-muted"><%= "#{chat.messages.last.content} · #{time_until_next_unit(chat.messages.last)}" %></span>
                    <% elsif message_notifications(current_user, chat).last.unread? %>
                      <span class="d-sm-none d-lg-block"><%= "#{chat.messages.last.content}" %> <span class="text-muted">· <%= "#{time_until_next_unit(chat.messages.last)}" %></span></span>
                    <% end %>
                  </div>
                <% elsif current_user == chat.user %>
              
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                    <div class="d-block">
                      <span class="d-block d-sm-none d-lg-block align-self-start">@<%= chat.user2.username %></span>

                      <% if chat.messages.last.user == current_user || message_notifications(current_user, chat).last.read?  %>
                        <span class="d-sm-none d-lg-block text-muted"><%= "#{chat.messages.last.content} · #{time_until_next_unit(chat.messages.last)}" %></span>
                      <% elsif message_notifications(current_user, chat).last.unread? %>
                        <span class="d-sm-none d-lg-block"><%= "#{chat.messages.last.content}" %> <span class="text-muted">· <%= "#{time_until_next_unit(chat.messages.last)}" %></span></span>
                      <% end %>
                    </div>
                  
                <% else %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                  </svg>
                  <div class="d-block">
                    <span class="d-block d-sm-none d-lg-block align-self-start">@<%= chat.user.username %></span>

                    <% if chat.messages.last.user == current_user || message_notifications(current_user, chat).last.read?  %>
                      <span class="d-sm-none d-lg-block text-muted"><%= "#{chat.messages.last.content} · #{time_until_next_unit(chat.messages.last)}" %></span>
                    <% elsif message_notifications(current_user, chat).last.unread? %>
                      <span class="d-sm-none d-lg-block"><%= "#{chat.messages.last.content}" %> <span class="text-muted">· <%= "#{time_until_next_unit(chat.messages.last)}" %></span></span>
                    <% end %>
                  </div>
                <% end %>
              </div>

            <% end %>
          </a>
        <% end %>
      </div>
    <% else %>
      <p class="align-self-center text-center">No messages found.</p>

    <% end %>
  </div>

