<nav class="navbar navbar-expand-lg bg-dark navbar-dark mb-5">
  <div class="container">
    <%= link_to "ConnectHub", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active" %>
        </li>

         <%= render 'search/form' %>
      </ul>

     

      <ul class="navbar-nav me-5 mb-2 mb-lg-0">
        <% if Current.user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Notifications
            </a>
            <ul class="dropdown-menu">
              <% if !Current.user.received_friend_requests.nil?%>
                <% Current.user.received_friend_requests.pending.each do |request| %>
                  <li class="dropdown-item">
                    <div class="row">
                      <div class="col d-flex justify-content-start">
                        <p><%= link_to "@#{request.sender.username}", profile_user_path(request.sender), class: "link-light" %></p>
                      </div>
                      <div class="col gap-2 d-flex justify-content-end">
                        <%= button_to "Accept", accept_friend_request_user_path(@user, request_id: request.id), method: :post, class: "btn btn-success btn-sm" %>
                        <%= button_to "Reject", reject_friend_request_user_path(@user, request_id: request.id), method: :post, class: "btn btn-danger btn-sm" %>
                      </div>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= "@#{Current.user.username}" %>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><%= link_to "Profile", profile_user_path(Current.user), class: "dropdown-item"%> </li>
              <li><%= link_to "Edit Password", edit_password_path, class: "dropdown-item"%> </li>
              <li><%= button_to "Log Out", logout_path, class: "dropdown-item", method: :delete %> </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", sign_in_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", sign_up_path, class: "nav-link active" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>