<%= stylesheet_link_tag 'navbar', "data-turbo-track": "reload" %>


<div id="navbar-top-id" data-navbar-top-id="top"></div>

<div id="user-id" data-user-id="<%= current_user.id %>"></div>

<nav class="navbar navbar-expand bg-dark navbar-dark mb-5">
  <div class="container">
    <%= link_to "ConnectHub", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active" %>
        </li>

    
      </ul>

     

      <ul class="navbar-nav me-5 mb-2 mb-lg-0 gap-2">
        <% if current_user %>
          <li class="nav-item align-self-center">
            <a class="nav-link" href="<%= search_path %>">
            <span class="material-icons">
                search
            </span>
            </a>
          </li>
        
          <%= render 'shared/notis_nav_link', bar: 'desktop' %>
          

          <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if current_user.avatar.attached? %>
                <%= image_tag(current_user.avatar, class: "rounded-circle ", size: "30x30") %>
              <% else %>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
              <% end %>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><%= link_to "Profile", profile_user_path(current_user), class: "dropdown-item"%> </li>
              <li><%= button_to "Log Out", logout_path, class: "dropdown-item", method: :delete %> </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", sign_in_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", sign_up_path, class: "nav-link active" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>