<%= stylesheet_link_tag "inbox", "data-turbo-track": "reload" %>
<div id="chat-id" data-chat-id="<%= @chat.try(:id) %>"></div>
<div id="user-id" data-user-id="<%= current_user.id %>"></div>
<div class="row messaging">
  <div class="col-4 left-bar border d-none d-sm-block">
    <%= render 'shared/message_list' %>
  </div>
  <div class="col-12 col-sm-8 right-bar border">
    <nav class="navbar border-bottom">
      <div class="container-fluid">
        <% if current_user == @chat.user %>
          <a class="navbar-brand" href="<%= profile_user_path(@chat.user2)%>">
          <% elsif current_user == @chat.user2 %>
            <a class="navbar-brand" href="<%= profile_user_path(@chat.user)%>">
            <% end %>
            <% if current_user == @chat.user && @chat.user2.avatar.present? %>
              <%= image_tag(User.find(@chat.user2.id).avatar, class: "rounded-circle ", size: "45x45") + " @#{@chat.user2.username}" %>
            <% elsif current_user == @chat.user2 && @chat.user.avatar.present? %>
              <%= image_tag(@chat.user.avatar, class: "rounded-circle ", size: "45x45") + " @#{@chat.user.username}" %>
            <% elsif current_user == @chat.user %>
              <div class="d-flex gap-2">
                <span class="material-icons-outlined" style="font-size: 45px;">
                  account_circle
                </span>
                <span class="align-self-center">@<%= @chat.user2.username %></span>
              </div>
            <% else %>
              <div class="d-flex gap-1">
                <span class="material-icons-outlined" style="font-size: 45px;">
                  account_circle
                </span>
                <span class="align-self-center">@<%= @chat.user.username %></span>
              </div>
            <% end %>
          </a>
        </div>
      </nav>
      <div class="chat-room scrollarea">
        <div id="messages">
          <% @current_user_messages = [] %>
          <% @messages.each do |message| %>
            <div id="message-<%="#{message.id}"%><%='-me' if message.user == current_user %>">
              <div class="message mb-3 <%= 'me' if message.user == current_user %>">
                <div class="content-container">
                  <div class="row">
                    <% if current_user == message.user %>
                      <% @current_user_messages << message %>
                      <div class="col-3 align-self-center">
                        <button id="delete-<%= message.id %>"type="button" data-bs-toggle="modal" data-bs-backdrop="false" data-bs-target="#deleteModal-<%= message.id %>"class="btn btn-sm btn-dark">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                          </svg>
                        </button>
                      </div>
                    <% end %>
                    <div class="col">
                      <div class="content">
                        <%= message.content %>
                      </div>
                    </div>
                  </div>
                  <div class="time text-muted">
                    <%= message.created_at.strftime("%d %b %Y, %l:%M %p") %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row border-top">
        <div class="chat-box p-2 col align-self-end">
          <%= render 'messages/form', message: Message.new, user: @user, chat: @chat %>
        </div>
      </div>
    </div>
  </div>
  <% @current_user_messages.each do |message|  %>
    <div class="modal fade" id="deleteModal-<%= message.id %>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="list-group deleteModal">
              <%= link_to "Delete", message_path(message), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "link-danger list-group-item list-group-item-action" %>
              <button type="button" class="list-group-item list-group-item-action" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= javascript_include_tag('scroll_to_bottom') %>
  <%= render 'shared/new_message_modal' %>
